Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [8]:
import pandas as pd
data =  pd.Series([4, 8, 15, 16, 23, 42])
data

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [16]:
l = [1,2,3,4,5,7,7,7,7,7]
pd.Series(l)

0    1
1    2
2    3
3    4
4    5
5    7
6    7
7    7
8    7
9    7
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.

In [19]:
data1 = {'Name':['Alice','Bob','claire'],'Age':[25,30,27], 'Gender':['Female','Male','Female'] }
frame = pd.DataFrame(data1)
frame

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [22]:
'''A **DataFrame** in pandas is a two-dimensional data structure that can store heterogeneous types of data in rows and columns. 
It can be thought of as a dict-like container for Series objects². 
A **Series** in pandas is a one-dimensional data structure that can store heterogeneous types of data with labels or indices³.
A Series is also the primary building block for a DataFrame, making up its rows and columns⁵.
An example of creating a DataFrame and a Series in pandas is:
 Create a Series from a list'''
s = pd.Series([1, 2, 3, 4, 5])

# Create a DataFrame from a dict of Series
df = pd.DataFrame({'A': s, 'B': s * 2, 'C': s ** 2})

# Print the Series and the DataFrame
print(s)
print(df)


'''As you can see, the Series has only one column of data with default indices from `0` to `4`. 
The DataFrame has three columns of data, each with the same indices as the Series. 
The DataFrame also has column names (`A`, `B`, and `C`) that can be used to access or manipulate the data.'''

0    1
1    2
2    3
3    4
4    5
dtype: int64
   A   B   C
0  1   2   1
1  2   4   4
2  3   6   9
3  4   8  16
4  5  10  25

'As you can see, the Series has only one column of data with default indices from `0` to `4`. \nThe DataFrame has three columns of data, each with the same indices as the Series. \nThe DataFrame also has column names (`A`, `B`, and `C`) that can be used to access or manipulate the data.'

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

There are many functions that can be used to manipulate data in a Pandas DataFrame. Some of the common ones are:

- **read_csv ()**: This function reads a comma-separated values (csv) file into a Pandas DataFrame¹. It is useful for loading data from external sources.
- **head ()** and **tail ()**: These functions return the first and last n rows of a DataFrame, respectively. They are useful for getting a quick glimpse of the data².
- **describe ()**: This function returns a summary of the descriptive statistics of the numeric columns in a DataFrame, such as mean, median, standard deviation, etc. It is useful for getting a general overview of the data distribution¹.
- **info ()**: This function returns a concise summary of the DataFrame, such as the number of rows, columns, data types, memory usage, etc. It is useful for checking the structure and attributes of the data².
- **astype ()**: This function converts the data type of one or more columns in a DataFrame. It is useful for changing the data type to a more appropriate or efficient one¹.
- **loc [:]** and **iloc [:]**: These functions allow us to access or modify the data in a DataFrame by labels or indices, respectively. They are useful for slicing, filtering, or updating the data².
- **value_counts ()**: This function returns the frequency counts of each unique value in a Series or a column of a DataFrame. It is useful for analyzing the distribution of categorical data¹.
- **apply ()** and **applymap ()**: These functions allow us to apply a custom function to each element, row, or column of a DataFrame. They are useful for performing complex calculations or transformations on the data².
- **groupby ()**: This function groups the data in a DataFrame by one or more columns and allows us to perform aggregation, transformation, or filtering operations on each group. It is useful for analyzing the data by different categories or factors².
- **merge ()**, **join ()**, and **concat ()**: These functions allow us to combine two or more DataFrames by columns or indices. They are useful for joining or appending data from different sources².

In [ ]:
# Load the california housing dataset
df = pd.read_csv('california_housing.csv')

# Group the data by ocean_proximity and calculate the mean house value for each group
df.groupby('ocean_proximity')['median_house_value'].mean()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A **Series** is a one-dimensional data structure that is value-mutable (the values it contains can be altered) but not size-mutable (the length cannot be changed)⁵. A **DataFrame** is a two-dimensional data structure that is both value-mutable and size-mutable (the values and the length can be changed)³. A **Panel** is a three-dimensional data structure that is also value-mutable and size-mutable⁴.

Therefore, the answer is: all of them are mutable in nature, but only DataFrame and Panel are size-mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [24]:
s1 = pd.Series([1, 2, 3, 4], name='A')
s2 = pd.Series([5, 6, 7, 8], name='B')
s3 = pd.Series([9, 10, 11, 12], name='C')

df = pd.DataFrame({'A': s1, 'B': s2, 'C': s3})
print(df)

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12